In [6]:
# Import Meteostat library and dependencies
from datetime import datetime
from meteostat import Point, Hourly

austin = Point(30.2500, -97.7500, 150) # Austin, Texas
albemarle = Point(38.0293, -78.4767, 0) # Albemarle County, Virginia
arlington = Point(38.8783, -77.0687, 0) # Arlington, Virginia
charles_city = Point(37.3312, -77.0615, 0) # CHarles City, Virginia

def grab_data(location, region_name):
    # Set time period
#     start = datetime(1970, 1, 1)
#     end = datetime(2023, 10, 21)
    start = datetime(2018, 1, 1)
    end = datetime(2018, 12, 31)
    # Get hourly data for the specified parameters
    data = Hourly(location, start, end)
    data = data.normalize().interpolate()
    # Extract specific parameters
    parameters = data.fetch()
    cleaned_parameters = parameters.dropna(how='all')
    cleaned_parameters['county'] = region_name
    print(f"{region_name}: start time {cleaned_parameters.index[0]} end time {cleaned_parameters.index[-1]}")
    return cleaned_parameters

In [7]:
# albemarle_weather = grab_data(albemarle, 'Albemarle')
# arlington_weather = grab_data(arlington, 'Arlington')
# charles_city_weather = grab_data(charles_city, 'Charles City')
austin_weather = grab_data(austin, 'austin')
austin_weather

austin: start time 2018-01-01 00:00:00 end time 2018-12-31 00:00:00

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco,county
time,,,,,,,,,,,,
2018-01-01 00:00:00,-0.5,-2.1,89.0,0.00,NaN,360.0,13.0,NaN,1033.2,NaN,10.0,austin
2018-01-01 01:00:00,-0.5,-1.6,92.0,0.00,NaN,360.0,31.7,NaN,1033.8,NaN,10.0,austin
2018-01-01 02:00:00,-1.0,-2.7,88.0,0.00,NaN,10.0,31.7,NaN,1034.8,NaN,10.0,austin
2018-01-01 03:00:00,-1.6,-3.2,89.0,0.00,NaN,10.0,35.3,NaN,1035.8,NaN,10.0,austin
2018-01-01 04:00:00,-1.6,-4.3,82.0,0.00,NaN,10.0,25.9,NaN,1036.5,NaN,10.0,austin
...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-30 20:00:00,5.7,2.9,82.0,0.00,NaN,360.0,14.8,NaN,1015.2,NaN,7.0,austin
2018-12-30 21:00:00,5.7,2.9,82.0,0.00,NaN,40.0,13.0,NaN,1014.6,NaN,8.0,austin
2018-12-30 22:00:00,5.7,2.9,82.0,0.00,NaN,12.0,0.0,NaN,1015.6,NaN,7.0,austin
2018-12-30 23:00:00,5.7,3.4,85.0,0.15,NaN,14.0,0.0,NaN,1015.1,NaN,8.0,austin
2018-12-31 00:00:00,5.1,3.4,89.0,0.30,NaN,90.0,0.0,NaN,1014.4,NaN,7.0,austin

In [8]:
# albemarle_weather.to_csv(r"C:\Users\echan\Downloads\albemarle_weather.csv")
# arlington_weather.to_csv(r"C:\Users\echan\Downloads\arlington_weather.csv")
austin_weather.to_csv(r"C:\Users\echan\Downloads\austin_weather.csv")